.employee {border-style: solid; padding: 5px; border-radius: 20px;}
.eName  {float: left; clear: left;}
img {float: left: clear: left;}

.title{float: left; clear: left; left: 180px;}
.department{float: left; clear: left; left: 180px;}
.email {float: left; clear: left; left: 180px;}